.container {
  @include flex-align(center);
  margin-left: 60px;
  gap: 60px;
  height: 64px;
  list-style-type: none;

  @include media-mobile {
    display: none;
  }

  & li {
    height: 100%;

    @include media-mobile {
      height: 40px;
    }
  }

  &.active {
    display: block;
    position: absolute;
    width: calc(100% + 40px);
    height: 100vh;
    background-color: var(--dark);
    left: -20px;
    top: 49px;
    margin-left: 0;
    padding-top: 20px;
    z-index: 1;
  }
}

