.container {
  flex-shrink: 0;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;

  @include media-mobile {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &:after {
    content: '';
    position: absolute;
    left: calc((100% - 100vw) / 2);
    top: 0;
    width: calc(100vw);
    height: 1px;
    background-color: #fff;
  }
}

.signature {
  @include flex-justify-align(space-between, center);
  margin-top: 24px;

  @include media-mobile {
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
    margin-top: 16px;
  }

  p, a {
    font-size: 12px;
  }
}
