.container {
  @include flex-justify-align(space-between, center);
  min-height: 64px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: calc((100% - 100vw) / 2);
    bottom: 0;
    width: calc(100vw);
    height: 1px;
    background-color: #fff;
  }
}