@import "mixins";

:root {
  --dark: #222;
  --white: #F8F8F8;
  --primary: #7E83FC;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-button {
    height: 0;
    width: 100%;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--dark);
    border-radius: 50px;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: var(--primary);
  }
}

html {
  overflow-x: hidden;
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  background-color: var(--dark);
}

body {
  color: var(--white);
  scroll-behavior: smooth;
}

body, button {
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: var(--primary);
    transition: color .3s ease-in-out;
  }
}

button {
  cursor: pointer;
}

p, a {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;

  @include media-mobile {
    font-size: 12px;
  }
}

.text-content {
  margin-bottom: 150px;

  @include media-mobile {
    margin-bottom: 50px;
  }

  ul {
    padding-left: 20px;
  }

  a {
    text-decoration: underline;
    text-decoration-color: var(--primary);
  }
}