$mobile-bp: 1024px;

:root {
  --main-bg: #222;
  --main-white: #fff;
  --secondary-white: #F8F8F8;
  --primary: #7E83FC;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-button {
    height: 0;
    width: 100%;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--main-bg);
    border-radius: 50px;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: var(--primary);
  }
}

html {
  overflow-x: hidden;
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  background-color: var(--main-bg);
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--secondary-white);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: var(--primary);
    transition: color .5s ease-in-out;
  }
}

button {
  font-family: 'Inter', sans-serif;
  cursor: pointer;
}

p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;

  @media (max-width: $mobile-bp) {
    font-size: 12px;
  }
}

details > summary {
  list-style: none;
}

details > summary::marker,
details > summary::-webkit-details-marker {
  display: none;
}