.container {
  position: relative;

  summary {
    font-size: 14px;
    font-weight: 500;

    &:hover {
      color: var(--primary);
      transition: color .5s ease-in-out;
      cursor: pointer;
    }
  }

  &[open] summary {
    color: var(--primary);
    transition: color .5s ease-in-out;
  }
}

.list {
  position: absolute;
  left: 0;
  top: 42px;
  list-style-type: none;
  font-size: 14px;
  font-weight: 300;
  min-width: 176px;

  & li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}